<div>
	<p>
		<a class="btn btn-success" href="javascript:void(0)" ui-sref="users">Users</a>
		<a class="btn btn-success" href="javascript:void(0)" ui-sref="companies">Companies</a>
		<a class="btn btn-success" href="javascript:void(0)" ui-sref="customertypes">Customer types</a>
		<a class="btn btn-success" href="javascript:void(0)" ui-sref="categories">Categories</a>
		<a class="btn btn-success" href="javascript:void(0)" ui-sref="units">Units</a>
	</p>
	<p>
		<a class="btn btn-primary" href="javascript:void(0)" ui-sref="departments">Departments</a>
		<a class="btn btn-primary" href="javascript:void(0)" ui-sref="customers">Customers</a>
		<a class="btn btn-primary" href="javascript:void(0)" ui-sref="products">Products</a>
		<a class="btn btn-primary" href="javascript:void(0)" ui-sref="accounts">Tax values</a>
	</p>
</div>