<div>
	<p ng-if="isSPAdmin">
		<a class="btn btn-success" href="javascript:void(0)" ui-sref="applicationusers">Users</a>
		<a class="btn btn-success" href="javascript:void(0)" ui-sref="companies">Companies</a>
		<a class="btn btn-success" href="javascript:void(0)" ui-sref="customertypes">Customer types</a>
		<a class="btn btn-success" href="javascript:void(0)" ui-sref="categories">Categories</a>
		<a class="btn btn-success" href="javascript:void(0)" ui-sref="units">Units</a>
		<a class="btn btn-success" href="javascript:void(0)" ui-sref="accounts">Accounts</a>
	</p>
	<p ng-if="isSPAdmin || isDirector">
		<a class="btn btn-primary" href="javascript:void(0)" ui-sref="departments">Departments</a>
		<a class="btn btn-primary" href="javascript:void(0)" ui-sref="customers">Customers</a>
		<a class="btn btn-primary" href="javascript:void(0)" ui-sref="products">Products</a>
		<a class="btn btn-primary" href="javascript:void(0)" ui-sref="taxvalues">Tax values</a>
	</p>
</div>