<h4>
	All Users
	<a class="btn btn-default btn-sm pull-right" ui-sref="configs" href="javascript:void(0)"><span class="fa fa-cogs"></span> Go to site configs</a>
</h4>
<hr />
<p>
	<button class="btn btn-success btn-xs" ng-click="addItem()"><span class="fa fa-plus"></span>&nbsp;Add new</button>
</p>
<div kendo-grid id="main-grid" class="grid table-responsive" options="mainGridOptions"></div>

<!-- Modal -->
<div class="modal fade" id="main-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{{popupTitle}}</h4>
			</div>
			<div class="modal-body">
				<form id="main-form">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label>Username <span class="text-danger">*</span></label>
								<input type="text" class="form-control" name="UserName" ng-model="popupModel.UserName" required validationMessage="Field is required." />
							</div>
							<div class="form-group" ng-if="!popupModel.Id">
								<label>Password <span class="text-danger">*</span></label>
								<input type="password" class="form-control" name="Password" ng-model="popupModel.PasswordHash" required validationMessage="Field is required." />
							</div>
							<div class="form-group" ng-if="!popupModel.Id">
								<label>Confirm Password <span class="text-danger">*</span></label>
								<input type="password" class="form-control" name="ConfirmPassword" ng-model="popupModel.ConfirmPassword" required validationMessage="Field is required." />
							</div>
							<div class="form-group">
								<label>Display Name</label>
								<input type="text" class="form-control" ng-model="popupModel.DisplayName" />
							</div>
							<div class="form-group">
								<label>Company</label>
								<select class="form-control" ng-model="popupModel.CompanyId" ng-change="companyChange()">
									<option ng-repeat="item in allCompany" value="{{item.Id}}" ng-value="item.Id">{{item.CompanyName}}</option>
								</select>
							</div>
							<div class="form-group">
								<label>Department</label>
								<select class="form-control" ng-model="popupModel.DepartmentId" ng-disabled="!popupModel.CompanyId || popupModel.CompanyId == null || popupModel.CompanyId == ''">
									<option ng-repeat="item in allDepartment" value="{{item.Id}}" ng-value="item.Id">{{item.DepartmentName}}</option>
								</select>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>Age</label>
								<input type="number" class="form-control" ng-model="popupModel.Age" min="1" max="120" />
							</div>
							<div class="form-group">
								<label>Address</label>
								<textarea rows="3" class="form-control" ng-model="popupModel.Address"></textarea>
							</div>
							<div class="form-group">
								<label>About me</label>
								<textarea rows="3" class="form-control" ng-model="popupModel.AboutMe"></textarea>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>Image</label>
								<span class="profile-picture">
									<img ng-click="selectFile()" id="avatar" class="editable img-responsive editable-click editable-empty" ng-src="{{popupModel.ImagePath != null && popupModel.ImagePath !='' ? popupModel.ImagePath : '/Content/images/NoImage.gif'}}" alt="{{popupModel.DisplayName}}" err-src='/Content/images/NoImage.gif' onerror="this.src ='/Content/images/NoImage.gif'">
									<input class="hidden" type="file" id="uploadEditorImage" accept="image/x-png,image/gif,image/jpeg">
								</span>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" ng-click="saveItem()" class="btn btn-primary">Save changes</button>
				<button type="button" class="btn btn-default" ng-click="closeModal()">Close</button>
			</div>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="change-password-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Change password</h4>
			</div>
			<div class="modal-body">
				<form id="sub-form">
					<div class="form-group">
						<label>Username <span class="text-danger">*</span></label>
						<input type="text" class="form-control" name="UserName" ng-model="changePasswordModal.UserName" required validationMessage="Field is required." disabled="disabled" />
					</div>
					<div class="form-group">
						<label>Old Password <span class="text-danger">*</span></label>
						<input type="password" class="form-control" name="OldPassword" ng-model="changePasswordModal.OldPassword" required validationMessage="Field is required." />
					</div>
					<div class="form-group">
						<label>New Password <span class="text-danger">*</span></label>
						<input type="password" class="form-control" name="NewPassword" ng-model="changePasswordModal.NewPassword" required validationMessage="Field is required." />
					</div>
					<div class="form-group">
						<label>Confirm Password <span class="text-danger">*</span></label>
						<input type="password" class="form-control" name="ConfirmPassword" ng-model="changePasswordModal.ConfirmPassword" required validationMessage="Field is required." />
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm" ng-click="changePassword()">Save changes</button>
				<button type="button" class="btn btn-default btn-sm" ng-click="closeModal()">Close</button>
			</div>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="change-permission-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Change permission</h4>
			</div>
			<div class="modal-body">
				<form id="permission-form">
					<div class="form-group">
						<label>Username <span class="text-danger">*</span></label>
						<input type="text" class="form-control" name="UserName" ng-model="changePermissionModel.UserName" required validationMessage="Field is required." disabled="disabled" />
					</div>
					<div class="form-group">
						<label>Roles <span class="text-danger">*</span></label>
						<div class="checkbox">
							<label>
								<input ng-model="changePermissionModel.IsSPAdmin" type="checkbox" /> <span ng-click="chkPermissionClick($event, 1)">SP Admin</span><br />
								<input ng-model="changePermissionModel.IsDirector" type="checkbox" /> <span ng-click="chkPermissionClick($event, 2)">Director</span><br />
								<input ng-model="changePermissionModel.IsStaff" type="checkbox" /> <span ng-click="chkPermissionClick($event, 3)">Staff</span>
							</label>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm" ng-click="changePermission()">Save changes</button>
				<button type="button" class="btn btn-default btn-sm" ng-click="closeModal()">Close</button>
			</div>
		</div>
	</div>
</div>