<div>
	<br />
	<div>
		<div class="">
			<div id="user-profile-1" class="user-profile row">
				<form id="main-form">
					<div class="col-xs-12 col-sm-9">
						<div class="hidden">
							<input type="text" ng-model="userInfo.Id" class="form-control" />
						</div>
						<div class="profile-user-info profile-user-info-striped">
							<div class="profile-info-row">
								<div class="profile-info-name"> Username<span class="text-danger">*</span> </div>
								<div class="profile-info-value">
									<input type="text" id="UserName" name="UserName" class="form-control" ng-model="userInfo.UserName" required validationMessage="Field is required." readonly="readonly">
								</div>
							</div>
							<div class="profile-info-row">
								<div class="profile-info-name"> Company<span class="text-danger">*</span> </div>
								<div class="profile-info-value">
									<select class="form-control" name="CompanyId" ng-model="userInfo.CompanyId" required validationMessage="Field is required." ng-disabled="true">
										<option ng-selected="userInfo.CompanyId == 0" value="0">All</option>
										<option ng-repeat="item in allCompany" ng-selected="userInfo.CompanyId == item.Id" value="{{item.Id}}">{{item.CompanyName}}</option>
									</select>
								</div>
							</div>
							<div class="profile-info-row">
								<div class="profile-info-name"> Display Name<span class="text-danger">*</span> </div>
								<div class="profile-info-value">
									<input type="text" id="DisplayName" name="DisplayName" class="form-control" ng-model="userInfo.DisplayName" required validationMessage="Field is required.">
								</div>
							</div>
							<div class="profile-info-row">
								<div class="profile-info-name"> Address </div>
								<div class="profile-info-value">
									<textarea id="Address" name="Address" class="form-control" ng-model="userInfo.Address"></textarea>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> Age </div>

								<div class="profile-info-value">
									<input type="number" id="Age" name="Age" class="form-control" ng-model="userInfo.Age">
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> About Me </div>

								<div class="profile-info-value">
									<textarea id="AboutMe" name="AboutMe" class="form-control" ng-model="userInfo.AboutMe"></textarea>
								</div>
							</div>
							<div class="profile-info-row">
								<div class="profile-info-name"></div>

								<div class="profile-info-value">
									<button id="btnSaveChanges" name="btnSaveChanges" type="button" class="btn btn-success btn-sm" ng-click="saveChange()">Save Changes</button>&nbsp;
									<button id="btnChangePassword" name="btnChangePassword" type="button" class="btn btn-default btn-sm" ng-click="changePassword()">Change password</button>
								</div>
							</div>
						</div>

						<div class="space-20"></div>
					</div>

					<div class="col-xs-12 col-sm-3 center">
						<div>
							<span class="profile-picture">
								<img ng-click="selectFile()" id="avatar" class="editable img-responsive editable-click editable-empty" ng-src="{{userInfo.ImagePath != null && userInfo.ImagePath !='' ? userInfo.ImagePath : '/Content/images/NoImage.gif'}}" alt="{{userInfo.DisplayName}}" err-src='/Content/images/NoImage.gif' onerror="this.src ='/Content/images/NoImage.gif'">
								<input class="hidden" type="file" id="uploadEditorImage" accept="image/x-png,image/gif,image/jpeg">
							</span>

							<div class="space-4"></div>

							<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
								<div class="inline position-relative">
									<a href="javascript:void(0)" class="user-title-label dropdown-toggle" data-toggle="dropdown">
										<i class="ace-icon fa fa-circle light-green"></i>
										&nbsp;
										<span class="white" id="lblFullName">{{userInfo.DisplayName}}</span>
									</a>
								</div>
							</div>
						</div>

						<div class="space-6"></div>

						<div class="hr hr16 dotted"></div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="main-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Change password</h4>
				</div>
				<div class="modal-body">
					<form id="sub-form">
						<div class="form-group">
							<label>Old Password <span class="text-danger">*</span></label>
							<input type="password" class="form-control" name="OldPassword" ng-model="popupModel.OldPassword" required validationMessage="Field is required." />
						</div>
						<div class="form-group">
							<label>New Password <span class="text-danger">*</span></label>
							<input type="password" class="form-control" name="NewPassword" ng-model="popupModel.NewPassword" required validationMessage="Field is required." />
						</div>
						<div class="form-group">
							<label>Confirm Password <span class="text-danger">*</span></label>
							<input type="password" class="form-control" name="ConfirmPassword" ng-model="popupModel.ConfirmPassword" required validationMessage="Field is required." />
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success btn-sm" ng-click="saveItem()">Save changes</button>
					<button type="button" class="btn btn-default btn-sm" ng-click="closeModal()">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
